<h2>Teachers List</h2>
<table class="table-heading">
  <tr class="rows-table">
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Class</th>
  </tr>
  <tr *ngFor="let teacher of teachers" class="rows-table">
    <td>{{ teacher.id }}</td>
    <td>{{ teacher.name }}</td>
    <td>{{ teacher.email }}</td>
    <td>{{ teacher.class }}</td>
    <td>
      <button
        class="viewteacher"
        (click)="viewTeacherDetails(teacher.id)"
        class="viewteacher"
      >
        Teacher Details
      </button>
      <button (click)="editTeacher(teacher.id)" class="editteacher">
        Edit
      </button>
    </td>
  </tr>
</table>

<button class="addteacher" (click)="addTeacher()" class="addteacher">
  Add Teacher
</button>
