/* styles.css */

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Button Styles */
.viewteacher {
    background-color: #cab1c4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.viewteacher:hover {
    background-color: #a57a95;
    /* Darker background color on hover */
}

.editteacher {
    background-color: #95ad79;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.editteacher:hover {
    background-color: #71824f;
    /* Darker background color on hover */
}

.addteacher {
    background-color: rgb(128, 175, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.addteacher:hover {
    background-color: rgb(58, 197, 58);
    /* Darker background color on hover */
}