.teacher-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.teacher-table th,
.teacher-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.teacher-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.teacher-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.teacher-table tr:hover {
    background-color: #e5e5e5;
}

.teacher-table td:nth-child(2) {
    color: #000;
    font-size: 15px;
}

.add-button,
.edit-button,
.view-teacher {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.add-button {
    background-color: #2196F3;
    padding: 15px;
    font-size: larger;
}

.edit-button {
    background-color: #FFC107;
}

.view-teacher {
    background-color: #E59866;
}

.teacherheading {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button-container {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    justify-content: flex-end;

}